<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Admin Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{STATIC_URL}}font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/select.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/dashboard/css/sb-admin-2.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/dashboard/css/timeline.css" rel="stylesheet">
    <link href="{{STATIC_URL}}metisMenu/metisMenu.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <style type="text/css">
    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }
    
    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    </style>
</head>
{% verbatim %}

<body ng-app="mohalla_user">
    <div id="wrapper" ng-controller="MohallaUserCtrl">
            <div style="border: 1px solid #ccc;background-color: #fff;margin-top:0px;width:15%;height:100%" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                            <li>
                                <a href="#/dashboard"><i class="fa fa-desktop"></i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                            </li>
                            <li>
                                <a href="#/muhalla"><i class="fa fa-building"></i>&nbsp;&nbsp;&nbsp;&nbsp;Muhalla</a>
                            </li>                        
                            <li>
                                <a href="#/family_members"><i class="fa fa-users"></i>&nbsp;&nbsp;&nbsp;&nbsp;Family Members</a>
                            </li>
                            <li>
                                <a href="#/settings"><i class="side_icon fa fa-gear fa-fw"></i>&nbsp;&nbsp;&nbsp;Settings</a>
                            </li>
                            <button class="btn-sm btn btn-primary" style="float:left;width:100%;" ng-click="user_logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;Logout</button>
                        </ul>           
                </div>
            </div>
        <div style="min-height: 491px;width:80%;float:left;margin-left:17%;margin-top:0px;" ng-view>
        </div>    
    </div>
    <script type="text/ng-template" id="settings.html">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Settings</h1>
            </div>
        </div>        
    </script>
    <script type="text/ng-template" id="dashboard.html">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
        </div>        
    </script> 
    <script type="text/ng-template" id="family_members.html">    
        <span style="float:right">Welcome! {{muhalla_values.uname}}.</span>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Family Members</h1>
            </div>
            <div class=" col-lg-12">
                <span style="width:25%;float:left;">District</span>
                <span style="width:25%;float:left;">Taluk</span>
                <span style="width:25%;float:left;">Mohalla</span>
                <span style="width:25%;float:left;">Mohalla ID</span>
            </div>
            <div class=" col-lg-12">
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.district" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.taluk" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.mohalla" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.mohalla_id" readonly/>
            </div>
            <div class="col-lg-12"><br/></div>
            <div class=" col-lg-12" style="padding-right: 20px;border-right: 1px solid #E2E2E2;">
                <div class="form-group" style="padding-bottom: 34px;">
                    <ui-select ng-show="!new_family" style="display: inline-block;height: 34px;width: 50%;float: left;" on-select="familyid=FamilyValue.familyid;get_family(familyid)" reset-search-input="false" theme="bootstrap" ng-disabled="" ng-model="FamilyValue.familyid">
                        <ui-select-match placeholder="{{family_val}}">{{family_val}}</ui-select-match>
                        <ui-select-choices refresh="familyid=$select.search;get_family(familyid)" repeat="mod in familyList | filter:$select.search">
                            <div ng-bind-html="mod.family_id | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <button ng-show="!new_family" ng-disabled="family_val=='' || family_val=='Type or Select Family ID from the List'" type="submit" style="width:13%;height: 34px;" ng-click="addFamily(family_val,FamilyValue,'update')" class="btn-sm btn btn-primary">Update</button>
                    <button ng-show="!new_family" ng-disabled="family_val=='' || family_val=='Type or Select Family ID from the List'" type="submit" style="width:13%;height: 34px;" ng-click="new_family=true;get_family();" class="btn-sm btn btn-primary">Cancel</button>
                    <button ng-show="new_family" type="submit" style="width:13%;height: 34px;" ng-click="addFamily(family_val,FamilyValue,'new')" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Save New</button>
                    <button ng-show="new_family" type="submit" style="width:13%;height: 34px;" ng-click="new_family=false;get_family()" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Cancel</button>
                    <button ng-show="!new_family" ng-disabled="familyList.indexOf(family_val)>-1" type="submit" style="width:13%;height: 34px;" ng-click="new_family=true;get_family()" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i>New</button>
                </div>
            </div>
            <div class=" col-lg-12" style="padding-bottom: 34px;">
                <input style="display: inline-block;width: 13%;height: 34px;float: left;" type="text" placeholder="Ration Card Number" ng-model="FamilyValue.ration_card" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <input style="display: inline-block;width: 13%;height: 34px;float: left;" type="text" placeholder="Mobile Number" ng-model="FamilyValue.mobile_no" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <select style="display: inline-block;height: 34px;width: 15%;float: left;" ng-model="FamilyValue.language" ng-options="house for house in ['Tamil','Urdu','Others']" class="form-control">
                    <option value="">Mother Tongue</option>
                </select>
                <!--<input style="display: inline-block;height: 34px;width: 15%;float: left;" class="form-control" type="text" ng-model="FamilyValue.language" placeholder="Mother Tongue" />-->
                <input style="display: inline-block;width: 29%;height: 34px;float: left;" type="text" placeholder="Address" ng-model="FamilyValue.address" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <input style="display: inline-block;width: 30%;height: 34px;float: left;" type="text" placeholder="Any Emergency Needs in this Family?" ng-model="FamilyValue.family_needs" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
        </div>
        <div class=" col-lg-12" style="padding-bottom: 34px;">
                <select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.house" ng-options="house for house in ['Rent','Own']" class="form-control">
                    <option value="">House Type</option>
                </select>
                <!--<select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.donor" ng-options="donor for donor in ['Yes','No']" class="form-control">
                    <option value="">Willing to be a Financial Donor?</option>
                </select>
                <select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.volunteer" ng-options="volunteer for volunteer in ['Yes','No']" class="form-control">
                    <option value="">Want to be a Volunteer?</option>
                </select>-->               
                <select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.health_insurance" ng-options="health for health in ['Yes','No']" class="form-control">
                    <option value="">Health Insurance Scheme Card Available?</option>
                </select>
                <select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.toilet" ng-options="toilet for toilet in ['Yes','No']" class="form-control">
                    <option value="">Toilet Available?</option>
                </select>
                <select style="display: inline-block;height: 34px;width: 25%;float: left;" ng-model="FamilyValue.financial" ng-options="financial for financial in ['A - Well Settled','B - Full Filled','C - Middle Class','D - Poor','E - Very Poor']" class="form-control">
                    <option value="">Financial Status</option>
                </select>
                
        </div>
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Members </h1>
            </div>
            <table class="table table-striped table-bordered table-hover ng-scope">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Family Head?</th>                        
                        <th>Relationship</th>
                        <th>Qualification</th>
                        <th>Marital Status</th>
                        <th>Having Voter ID?</th>
                        <th>Occupation</th>
                        <th>Current Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ng-scope">
                        <td><input type="text" placeholder="1" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required" readonly></td>
                        <td><input type="text" placeholder="Name" ng-model="FamilyMember.name" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required"></td>
                        <td><select ng-model="FamilyMember.gender" ng-options="gen for gen in ['MALE','FEMALE']" class="form-control">
                            <option value="">SELECT GENDER</option>
                        </select></td>
                        <td><input type="text" placeholder="Age" ng-model="FamilyMember.age" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required"></td>
                        <td><select ng-model="FamilyMember.family_head" ng-options="val for val in ['Yes','No']" class="form-control">
                            <option value="">FAMILY HEAD?</option>
                        </select></td>
                        <td><input type="text" placeholder="Relationship" ng-model="FamilyMember.relationship" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required"></td>
                        <td><input type="text" placeholder="Qualification" ng-model="FamilyMember.qualification" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required"></td>
                        <td><select ng-model="FamilyMember.marital_status" ng-options="gen for gen in ['Married','Unmarried','Widow','Devorced','Aged Unmarried Woman']" class="form-control">
                            <option value="">MARITAL STATUS</option>
                        </select>
                        <td><select ng-model="FamilyMember.voter" ng-options="gen for gen in ['Yes','No']" class="form-control">
                            <option value="">VOTER ID?</option>
                        </select></td>
                        <td><input type="text" placeholder="Occupation" ng-model="FamilyMember.occupation" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required"></td>
                        <td><select ng-model="FamilyMember.location" ng-options="gen for gen in ['Local','Outstation','Foreign']" class="form-control">
                            <option value="">LOCATION</option>
                        </select></td>
                        <td><button ng-disabled="!FamilyValue.familyid" type="submit" ng-click="add_Familymembers(FamilyMember,FamilyValue,'new')" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Add</button></td>
                    </tr>
                    <tr ng-show="FamilyMembersList.length==0">
                        <td colspan="11" style="text-align:center;" class="ng-binding">No Member Data Found!</td>
                    </tr>
                    <tr ng-show="!FamilyMembersList">
                        <td colspan="11" style="text-align:center;" class="ng-binding">Please Select Family First!</td>
                    </tr>
                    <tr ng-repeat="member in FamilyMembersList" class="ng-scope">
                        <td>{{$index+1}}</td>
                        <td class="ng-binding">{{member.name}}</td>
                        <td class="ng-binding">{{member.gender}}</td>
                        <td class="ng-binding">{{member.age}}</td>
                        <td class="ng-binding">{{get_booleanval(member.family_head)}}</td>
                        <td class="ng-binding">{{member.relationship}}</td>
                        <td class="ng-binding">{{member.qualification}}</td>
                        <td class="ng-binding">{{member.marital_status}}</td>
                        <td class="ng-binding">{{get_booleanval(member.voter_status)}}</td>
                        <td class="ng-binding">{{member.occupation}}</td>
                        <td class="ng-binding">{{member.curr_location}}</td>
                        <td><a ng-click="Familymembersupdate(member.mem_id);" data-toggle="modal" data-target="#modCategory" class="color-edit"><i class="fa fa-plus"></i></a><a ng-click="dispUpdate($index)" data-toggle="modal" data-target="#modCategory" class="color-edit"><i class="glyphicon glyphicon-pencil"></i></a><a ng-click="delete($index)" class="color-delete"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <script type="text/ng-template" id="muhalla.html">
        <span style="float:right">Welcome! {{muhalla_values.uname}}.</span>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Muhallas</h1>
            </div>
            <div class=" col-lg-12">
                <span style="width:25%;float:left;">District</span>
                <span style="width:25%;float:left;">Taluk</span>
                <span style="width:25%;float:left;">Mohalla</span>
                <span style="width:25%;float:left;">Mohalla ID</span>
            </div>
            <div class=" col-lg-12">
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.district" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.taluk" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.mohalla" readonly/>
                <input style="display: inline-block;height: 34px;width: 25%;float: left;" class="form-control" type="text" ng-model="muhalla_values.mohalla_id" readonly/>
            </div>
            <div class="col-lg-12"><br/></div>
            <div class=" col-lg-12">
                <input style="display: inline-block;width: 25%;height: 34px;float: left;" type="text" placeholder="Masjid Name" ng-model="muhalla_values.mohalla" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <input style="display: inline-block;width: 25%;height: 34px;float: left;" type="text" placeholder="Number of Musallis" ng-model="muhalla_values.musallas" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <input style="display: inline-block;width: 40%;height: 34px;float: left;" type="text" placeholder="Address" ng-model="muhalla_values.address" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required">
                <button type="submit" style="width:10%;height: 34px;" ng-click="updatemahalla(muhalla_values)" class="btn-sm btn btn-primary">Update</button>
            </div>            
        </div>    
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Members</h1>
            </div>
            <table class="table table-striped table-bordered table-hover ng-scope">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Post</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ng-scope">                        
                        <td><input type="text" placeholder="1" class="input-sm form-control ng-pristine ng-invalid ng-invalid-required" readonly></td>
                        <td><input class="form-control" type="text" ng-model="member_name" placeholder="Member Name"/></td>
                        <td><input class="form-control" type="text" ng-model="age" valid-number placeholder="Age"/></td>
                        <td><input class="form-control" type="text" ng-model="designation" placeholder="Designation"/></td>
                        <td><input class="form-control" type="text" ng-model="mobile" placeholder="Mobile Number"/></td>
                        <td><input class="form-control" type="text" ng-model="address" placeholder="Address" /></td>                
                        <td><button ng-disabled="!member_name || !designation || !age" type="submit" ng-click="add_member(member_name,age,designation,mobile,address,'new')" class="btn-sm btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Add</button></td>
                    </tr>
                    <tr ng-show="masjid_member_list.length==0">
                        <td colspan="7" style="text-align:center;" class="ng-binding">No Member Data Found!</td>
                    </tr>
                    <tr ng-repeat="member in masjid_member_list" class="ng-scope">
                        <td>{{$index+1}}</td>
                        <td class="ng-binding"><span ng-show="!updateMem">{{member.name}}</span><input style="display: inline-block;height: 34px;width: 200px;float: left;margin-right: -90px;" type="text" ng-show="updateMem" ng-model="member.name"></td>
                        <td class="ng-binding"><span ng-show="!updateMem">{{member.age}}</span><input style="display: inline-block;height: 34px;width: 30px;float: left;" type="text" ng-show="updateMem" ng-model="member.age"></td>
                        <td class="ng-binding"><span ng-show="!updateMem">{{member.designation}}</span><input style="display: inline-block;height: 34px;width: 130px;float: left;margin-right: -65px;" type="text" ng-show="updateMem" ng-model="member.designation"></td>
                        <td class="ng-binding"><span ng-show="!updateMem">{{member.mobile}}</span><input style="display: inline-block;height: 34px;width: 130px;float: left;margin-right: -65px;" type="text" ng-show="updateMem" ng-model="member.mobile"></td>
                        <td class="ng-binding"><span ng-show="!updateMem">{{member.address}}</span><input style="display: inline-block;height: 34px;width: 110px;float: left;margin-right: -45px;" type="text" ng-show="updateMem" ng-model="member.address"></td>
                        <td><a ng-show="!updateMem" ng-click="updateMem=true;" class="color-edit"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a ng-show="updateMem" ng-click="updateMem=false;UpdateMember(muhalla_values.mohalla_id,member,member.name,member.age,member.designation,member.mobile,member.address)" class="color-edit"><i class="glyphicon glyphicon-plus"></i></a>
                            <a ng-confirm-click="Are you Sure you want to Delete?" confirmed-click="DeleteMember(muhalla_values.mohalla_id,member)" class="color-delete"><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                    <!-- end ngRepeat: cat in categorys track by $index| filter:searchText -->
                </tbody>
            </table>
        </div>
    </script>
    {% endverbatim %}
    <script src="{{STATIC_URL}}js/jquery/jquery-2.0.3.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/angular/angular.min.js"></script>
    <script src="{{STATIC_URL}}js/angular/ui-bootstrap-tpls.js"></script>
    <script src="{{STATIC_URL}}js/angular/angular-cookies.min.js"></script>
    <script src="{{STATIC_URL}}js/angular/angular-route.min.js"></script>
    <script src="{{STATIC_URL}}js/angular/angular-sanitize.min.js"></script>
    <script src="{{STATIC_URL}}js/underscore.js"></script>
    <script src="{{STATIC_URL}}js/select.js"></script>
    <script src="{{STATIC_URL}}js/mohuser.js"></script>
    </body>
    </html> 