<!DOCTYPE html>
<html ng-app="login">
<head>
	<title>Welcome!</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
</head>
<body ng-controller="loginCtrl">
<!-- <img style="position: absolute;top: 0px;width:100%;height:150px;left: 0px;" src="{{STATIC_URL}}images/logo.png"> -->
	{% csrf_token %}	
	{% verbatim %}
	<div class="background">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>Signup</h1>
				</div>
				<div class="login-form" ng-init="getLocation();getMasjidData()">
					<select style="display: inline-block;height: 34px;width: 100%;float: left;" ng-model="FamilyValue.district" ng-options="gen for gen in district_list" class="form-control">
                    <option value="">SELECT DISTRICT</option>
	                </select>
	                <select ng-change="getMahallaData(FamilyValue);FamilyValue.masjid=''" style="display: inline-block;height: 34px;width: 100%;float: left;" ng-model="FamilyValue.taluk" ng-options="gen for gen in getTaluk[FamilyValue.district]" class="form-control">
	                    <option value="">SELECT TALUK</option>
	                </select>
	                <select ng-change="getFamilyinfo();" style="display: inline-block;height: 34px;width: 100%;float: left;" ng-model="FamilyValue.masjid" ng-options="gen.name for gen in muhallaData" class="form-control">
	                    <option value="">SELECT MUHALLA </option>
	                </select>
					<div class="control-group">
					<input type="text" ng-model="name" placeholder="&nbsp;&nbsp;&nbsp;username">
					</div>
					<div class="control-group">
					<input type="text" ng-model="email" placeholder="&nbsp;&nbsp;&nbsp;email">
					</div>					
					<div class="control-group">
					<input type="password" ng-model="password" placeholder="&nbsp;&nbsp;&nbsp;password">
					</div>
					<div class="control-group">
					<input type="password" ng-model="confirm_password" placeholder="&nbsp;&nbsp;&nbsp;confirm password"  ng-enter="user_signup(name, email, password, FamilyValue)">
					</div>
					<div class="control-group"  style="color:red;" ng-show="password && confirm_password && password!=confirm_password"> * Password Not Matching</div>
					<button class="btn btn-primary btn-large btn-block" ng-disabled="!name || !email || !FamilyValue.masjid || !password || !confirm_password || password!=confirm_password" ng-click="user_signup(name, email, password, FamilyValue)">Signup</button>
					
				</div>
			</div>
		</div>
	</div>	
{% endverbatim %} 
</body>
<script src="{{STATIC_URL}}js/jquery/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/angular/angular.min.js"></script>
<script src="{{STATIC_URL}}js/angular/ui-bootstrap-tpls.js"></script>
<script src="{{STATIC_URL}}js/angular/angular-cookies.min.js"></script>
<script src="{{STATIC_URL}}js/angular/angular-route.min.js"></script>
<script src="{{STATIC_URL}}js/angular/angular-sanitize.min.js"></script>
<script src="{{STATIC_URL}}js/underscore.js"></script>
<script src="{{STATIC_URL}}js/select.js"></script>
<script src="{{STATIC_URL}}js/angular-custom.js"></script>
<script src="{{STATIC_URL}}metisMenu/metisMenu.min.js"></script>
<script src="{{STATIC_URL}}bootstrap/dashboard/js/sb-admin-2.js"></script>
<script src="{{STATIC_URL}}js/login.js"></script>
</html>